<html>
<header>
    <div class="layout-topbar">
        <a>
            <img class="logo" src="../assets/img/Logo.png" />
        </a>
        <nav>
            <ul class="topbar-menu">
                <li><a routerLink="/home" routerLinkActive="active" >Home</a></li>
                <li><a routerLink="/sobre" routerLinkActive="active">Sobre</a></li> 
                <li><a>Portfólio</a></li>
                <li><a routerLink="/contato" routerLinkActive="active">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>

</html>