<html>
<header>
    <div class="layout-topbar">
        <a>
            <img class="logo" src="../assets/img/Logo.png" />
        </a>
        <div class="menu">
            <nav>
                <ul class="topbar-menu">
                    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                    <li><a routerLink="/sobre" routerLinkActive="active">Sobre</a></li>
                    <li><a routerLink="/portfolio" routerLinkActive="active">Portfólio</a></li>
                    <li style="margin-right: 0;"><a routerLink="/contato" routerLinkActive="active">Contato</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
</html>