@font-face{
  font-family: 'Petrona Regular';
  src: url("/assets/fonts/Petrona-Regular.ttf");
}
.topbar-menu{
  display: inline-flex; 
  list-style-type: none;
  width: 100%;
  padding:0;
}
.menu{
  margin-top: 20%;
  width: 100%;
}


.topbar-menu li{
  width: 100%;
  text-align: center;
}
  
a{
    font-family:'Petrona Regular';
    font-size: 130%;
    color: white;
    
  }
  a:hover{
    color: #404040;
  }
  a.active{
    color:#ddd;  
  }
  p{
    font-family: 'Petrona Regular';
  }
  
  .layout-topbar{
    position: absolute;
    background-color: gray;
    top: 0;
    left:0;
    right: 0;
  }
  
  .logo{
    position: absolute;
    top: 15%;
    left: 25%;
    height: auto;
    width: auto;
    max-width: 50%;
    max-height: 50%;
  }
  @media (min-width: 800px){
    .layout-topbar {
      position: absolute;
      height: 12%;
    }
    
    .logo{
      height: 50%;
      left: 0;
      margin-right: 0;
      top: 20%;
      transform: translate(0,0);
    }
    .topbar-menu{
      float: right;
      margin-top: 25px;
      width: auto;
    }
    .topbar-menu li{
      min-width: 100px;
      text-align: center;
      margin-right: 0;
    }
    .menu{
      margin-top: 0;
    }
  }