<div class="layout-footer">

    <div class="center">


        <div class="column-1">
            <img class="logo" src="../assets/img/Logo1.png" />
        </div>
        <div class="column-2">
            <div>
               <h4>Contato</h4>
                <ul class="contact">
                    <li>fernandaabreu.projetos@gmail.com</li>
                    <li>@fernandaabreuarquitetura</li>
                    <li>(22)99261-6185</li>
                    <li>Macaé - RJ</li>
                </ul>
            </div>
        </div>
    </div>
</div>
