<body>

    <div class="column-1">
        <div class="left">
            <h2>Contato</h2>
            <div class="text">
            <span class="ui-float-label">
                <input id="name" type="text" size="30" pInputText>
                <label for="name">Nome</label>
            </span>
            <span class="ui-float-label">
                <input id="email" type="text" size="30" pInputText>
                <label for="email">e-mail</label>
            </span>
            <p-button class="ui-float-label" label="Enviar" icon="pi pi-check" iconPos="right"
                styleClass="ui-button-success"></p-button>
            </div>
            <div class="textarea">
                <span class="ui-float-label">
                    <textarea pInputTextarea rows="15" cols="80"></textarea>
                    <label>menssagem</label>
                </span>
            </div>
        </div>
    </div>
    <div class="column-2">
        <div class="right">
            <div class="logo">
                <img class="imgLogo" src="../assets/img/Logo1.png">
            </div>
            <ul class="contact">
                <li>
                    <img class="icons" src="../assets/icon/email.png">
                    fernandaabreu.projetos@gmail.com</li>
                <li>
                    <img class="icons" src="../assets/icon/rede-social.png">
                    @fernandaabreuarquitetura</li>
                <li>
                    <img class="icons" src="../assets/icon/whatsapp.svg">
                    (22)99261-6185</li>
                <li>
                    <img class="icons" src="../assets/icon/localizacao.png">
                    Macaé - RJ</li>
            </ul>


        </div>

    </div>
</body>