@font-face{
    font-family: 'Petrona Regular';
    src: url("/assets/fonts/Petrona-Regular.ttf");
}

body{
    margin-top: 35%;
}

.left{
    text-align: center;
}

h2{
    padding: 5%;
    font-family: 'Petrona Regular';
}
.text input{
    width: 100%;
}

.text span{
    margin-top: 5%;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

p-button{
padding: 5%;
}

.textarea{
    width: 100%;
}

.textarea textarea{
    width: 96%;
    height: calc(96% - 45px);
    box-sizing: border-box;
    margin-bottom: 5%;
}
.textarea label{
    margin-left: 4%;
}

.right{
    margin-bottom: 12%;
}

.imgLogo{
    height: 7em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.icons{
    width: 5%;
    height: 5%;
}
.contact{
    list-style-type: none;
    text-align: center;
    font-size: 1.2em;
    padding: 0;
}
.contact li{
    padding: 1%;
}

@media (min-width: 800px){
    body{
        margin-top: 79px;
        padding: 0;
    }
    .left{
        margin:0;
        float: left;
        width: 50%;
        text-align: start;
    }

    .text {
        margin-bottom: 10%;
    }
    .text span{
        width: 40%;
        float: left;
        margin: 0;
        margin-left: 2%;
        padding:0;
    }
    .text p-button{
        padding: 0;
        margin-right: 2%;        
        float: right;
        width: 12%;
    }
    .textarea span{
        text-align: center;
    }
    .right{
        margin: 0;
        float: right;
        width: 50%;
    }
    .logo{
        margin-right: auto;
        margin-left: auto;
        margin-top: 15%;        
    }
    .contact{
    }
}