<div class="body">
    <div class="column-1">
        <a>
            <img class="imgFernanda" src="../assets/img/fernanda.jpg" />
        </a>
    </div>
    <div class="column-2">
        <div class="text">
            <h2>Sobre</h2>
            <p>Sou arquiteta e urbanista, formada pelo Instituto Federal Fluminense de Campos dos Goytacazes, uma das
                instituições referência em ensino na região. </p>
            <p>Possuo especialização em Arquitetura da Cidade: suas demandas e tecnologias e atualmente curso o Mestrado
                Profissional em Arquitetura, Urbanismo e Tecnologias.</p>
            <p>Trabalho com arquitetura há 7 anos, nos quais atuei em escritórios de arquitetura e na Caixa Econômica
                Federal, onde pude participar de projetos de diferentes áreas, entre eles públicos, residenciais,
                comerciais e industriais.</p>
            <p>Há 3 anos atuo de forma independente desenvolvendo projetos autorais de arquitetura e interiores,
                oferecendo consultorias e acompanhando obras desde a compra do terreno até a fase final. </p>
            <p>Criei esse espaço para compartilhar meus conhecimentos sobre arquitetura e te ajudar a transformar sonhos
                em ambientes.</p>
        </div>
    </div>
</div>