@font-face{
    font-family: 'Petrona Regular';
    src: url("/assets/fonts/Petrona-Regular.ttf");
  }

  body{
    margin-top: 70px;
    background-color:rgba(99,99,99,.3);
    height: 560px;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
}
.column-1{
    float: left;
    display: block;
    width: 50%;
    margin-top: 30px;   
}

.column-2{
    float: right;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-top: 30px;
    font-family:'Petrona Regular';
    text-align: center;
    font-size: 18px;
}

.imgFernanda{
    height: 500px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
}